

 <style type="text/css"> 
#wrapper{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }
  #first{
    width: 335px;
    border: 1px solid red;
  }
  #second{
    border: 1px solid green;
  }
</style> 
<html>

  <div id="wrapper">
    <div id="first">
    <div>
        <div class="form-group col-md-6">
            <div class="col-lg-8">
              <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0">Candidate General Information</h3>
                </div>
                <div class="card-body pt-0">
                  <table class="table table-bordered">
                    <tr>
                      <th width="30%">Permanent Address</th>
                      <td width="2%">:</td>
                      <td>{{address}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Current Location</th>
                      <td width="2%">:</td>
                      <td>{{currrent_loc}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Graduation</th>
                      <td width="2%">:</td>
                      <td>{{graduation}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Post Graduation</th>
                      <td width="2%">:</td>
                      <td>{{post_graduation}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Grad Branch/Specialisation</th>
                      <td width="2%">:</td>
                      <td>{{graduation_spcl}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Post Grad Branch/Specialisation</th>
                      <td width="2%">:</td>
                      <td>{{post_graduation_spcl}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Other Qualifications</th>
                      <td width="2%">:</td>
                      <td>{{other_qual}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Tenth Percentage</th>
                      <td width="2%">:</td>
                      <td>{{tenth_percent}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Twelfth Percentage</th>
                      <td width="2%">:</td>
                      <td>{{twelfth_percent}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Current Employer </th>
                      <td width="2%">:</td>
                      <td>{{currrent_employer}}</td>
                    </tr>
                    <tr>
                      <th width="30%"> Current CTC </th>
                      <td width="2%">:</td>
                      <td>{{currrent_ctc}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Expected CTC </th>
                      <td width="2%">:</td>
                      <td>{{expected_ctc}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Notice Period to be served</th>
                      <td width="2%">:</td>
                      <td>{{notice_per}}</td>
                    </tr>
                   
                    <tr>
                      <th width="30%">Reason for leaving previous organisation</th>
                      <td width="2%">:</td>
                      <td>{{reson_for_leaving}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Expected CTC </th>
                      <td width="2%">:</td>
                      <td>{{expected_ctc}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            </div>
    </div>
</div>
    <div id="second">
        <div class="form-group col-md-6">
            <div class="col-lg-8">
              <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0">Candidate General Information</h3>
                </div>
                <div class="card-body pt-0">
                  <table class="table table-bordered">
                    <tr>
                      <th width="30%">Permanent Address</th>
                      <td width="2%">:</td>
                      <td>{{address}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Current Location</th>
                      <td width="2%">:</td>
                      <td>{{currrent_loc}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Graduation</th>
                      <td width="2%">:</td>
                      <td>{{graduation}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Post Graduation</th>
                      <td width="2%">:</td>
                      <td>{{post_graduation}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Grad Branch/Specialisation</th>
                      <td width="2%">:</td>
                      <td>{{graduation_spcl}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Post Grad Branch/Specialisation</th>
                      <td width="2%">:</td>
                      <td>{{post_graduation_spcl}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Other Qualifications</th>
                      <td width="2%">:</td>
                      <td>{{other_qual}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Tenth Percentage</th>
                      <td width="2%">:</td>
                      <td>{{tenth_percent}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Twelfth Percentage</th>
                      <td width="2%">:</td>
                      <td>{{twelfth_percent}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Current Employer </th>
                      <td width="2%">:</td>
                      <td>{{currrent_employer}}</td>
                    </tr>
                    <tr>
                      <th width="30%"> Current CTC </th>
                      <td width="2%">:</td>
                      <td>{{currrent_ctc}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Expected CTC </th>
                      <td width="2%">:</td>
                      <td>{{expected_ctc}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Notice Period to be served</th>
                      <td width="2%">:</td>
                      <td>{{notice_per}}</td>
                    </tr>
                   
                    <tr>
                      <th width="30%">Reason for leaving previous organisation</th>
                      <td width="2%">:</td>
                      <td>{{reson_for_leaving}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Expected CTC </th>
                      <td width="2%">:</td>
                      <td>{{expected_ctc}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

    </div>
</div>


</html>